In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

from collections import Counter
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler

In [2]:
df = pd.read_csv('data_train.csv')

In [3]:
df.head()

,Date,Content,review,scores,compound,sentiment
0,17-Aug,Best American Cheese Burger with oldies milksh...,best american cheese burger oldie milkshake va...,"{'neg': 0.0, 'neu': 0.569, 'pos': 0.431, 'comp...",0.8908,1
1,15-Dec,One of the beaches that are not full of touris...,one beach full tourist sure usually empty come...,"{'neg': 0.053, 'neu': 0.534, 'pos': 0.412, 'co...",0.9022,1
2,12-Jul,"the beach is clear and not so crowded, and als...",clear crowd people tide horse seller always bo...,"{'neg': 0.218, 'neu': 0.545, 'pos': 0.236, 'co...",0.0516,1
3,14-Nov,Crowded beach but worth to be out there to cat...,crowd worth catch wave best time sunset totall...,"{'neg': 0.0, 'neu': 0.541, 'pos': 0.459, 'comp...",0.8797,1
4,19-Dec,"If you’re looking for the idyllic, white sand ...",youre look idyllic white sand turquoise blue w...,"{'neg': 0.081, 'neu': 0.734, 'pos': 0.186, 'co...",0.5116,1

In [4]:
df.drop(["Date", "Content", "scores", "compound"], axis=1, inplace=True)
df.head()

                                              review  sentiment
0  best american cheese burger oldie milkshake va...          1
1  one beach full tourist sure usually empty come...          1
2  clear crowd people tide horse seller always bo...          1
3  crowd worth catch wave best time sunset totall...          1
4  youre look idyllic white sand turquoise blue w...          1

In [5]:
# rv_enc = LabelEncoder()
# df['rv_encoded'] = rv_enc.fit_transform(df['review'])
# df.head()

                                              review  sentiment  rv_encoded
0  best american cheese burger oldie milkshake va...          1         888
1  one beach full tourist sure usually empty come...          1        5531
2  clear crowd people tide horse seller always bo...          1        1431
3  crowd worth catch wave best time sunset totall...          1        1660
4  youre look idyllic white sand turquoise blue w...          1        8479

In [5]:
# df.drop(["review"], axis=1, inplace=True)
counter = Counter(df['sentiment'])
print(counter)

Counter({1: 7751, 0: 755})

In [6]:
df.head()

                                              review  sentiment
0  best american cheese burger oldie milkshake va...          1
1  one beach full tourist sure usually empty come...          1
2  clear crowd people tide horse seller always bo...          1
3  crowd worth catch wave best time sunset totall...          1
4  youre look idyllic white sand turquoise blue w...          1

In [10]:
oversample = RandomOverSampler(sampling_strategy='minority')
X = df[['review']]
y = df[['sentiment']]

In [11]:
X_over, y_over = oversample.fit_resample(X, y)

In [14]:
counter = Counter(y_over)
print(counter)

Counter({'sentiment': 1})