In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_train.csv')

In [3]:
df.head()

,Date,Content,review,scores,compound,sentiment
0,Aug-17,Best American Cheese Burger with oldies milksh...,best american cheese burger oldie milkshake va...,"{'neg': 0.0, 'neu': 0.569, 'pos': 0.431, 'comp...",0.8908,1
1,Dec-15,One of the beaches that are not full of touris...,one beach full tourist sure usually empty come...,"{'neg': 0.053, 'neu': 0.534, 'pos': 0.412, 'co...",0.9022,1
2,Jul-12,"the beach is clear and not so crowded, and als...",clear crowd people tide horse seller always bo...,"{'neg': 0.218, 'neu': 0.545, 'pos': 0.236, 'co...",0.0516,1
3,Nov-14,Crowded beach but worth to be out there to cat...,crowd worth catch wave best time sunset totall...,"{'neg': 0.0, 'neu': 0.541, 'pos': 0.459, 'comp...",0.8797,1
4,Dec-19,"If you’re looking for the idyllic, white sand ...",youre look idyllic white sand turquoise blue w...,"{'neg': 0.081, 'neu': 0.734, 'pos': 0.186, 'co...",0.5116,1

In [4]:
df.drop(["Date", "Content", "scores", "compound"], axis=1, inplace=True)

In [5]:
df.head()

                                              review  sentiment
0  best american cheese burger oldie milkshake va...          1
1  one beach full tourist sure usually empty come...          1
2  clear crowd people tide horse seller always bo...          1
3  crowd worth catch wave best time sunset totall...          1
4  youre look idyllic white sand turquoise blue w...          1

In [6]:
from collections import Counter
from imblearn.over_sampling import RandomOverSampler

In [7]:
X = df[['review']]
Y = df[['sentiment']]

oversample = RandomOverSampler(sampling_strategy='minority')
x_over, y_over = oversample.fit_resample(X,Y)

In [8]:
print(Counter(Y))
# print(Counter(y_over))

Counter({'sentiment': 1})

In [41]:
df

Counter({'sentiment': 1})